.list-group {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .list-group-item {
    cursor: pointer;
    padding: 10px;
  }
  
  .list-group-item:hover {
    background-color: #f5f5f5;
  }