   <section class="sec pt_80 mb_80 artistsSec">
        <div class="container">
            <div class="ssIn">
                <div class="dFlex mb_80 ssHD">
                    <h1 class="dFlex h4">
                        <a href="#" class="back">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16 22L6 12L16 2L17.775 3.775L9.55 12L17.775 20.225L16 22Z" fill=""/>
                            </svg>
                        </a>
                        Contacts
                    </h1>
                </div>
                <div class="dFlex contacts">
                    <div class="contactsLeft">
                        <div class="accordion">
                            <div class="tab mb_32">
                                <input type="checkbox" name="accordion-1" id="cb1">
                                <label for="cb1" class="tab__label txt18 fwBold">Contact Information</label>
                                <div class="tab__content">
                                    <div class="tab__contentIn">
                                        <p>DieSachbearbeiter <br>Choriner Straße 49 <br>10435 Berlin</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab mb_32">
                                <input type="checkbox" name="accordion-1" id="cb2">
                                <label for="cb2" class="tab__label txt18 fwBold">Company Information</label>
                                <div class="tab__content">
                                    <div class="tab__contentIn">
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab mb_32">
                                <input type="checkbox" name="accordion-1" id="cb3">
                                <label for="cb3" class="tab__label txt18 fwBold">Name of company addressed</label>
                                <div class="tab__content">
                                    <div class="tab__contentIn">
                                        <p>DieSachbearbeiter</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab mb_32">
                                <input type="checkbox" name="accordion-1" id="cb4">
                                <label for="cb4" class="tab__label txt18 fwBold">email</label>
                                <div class="tab__content">
                                    <div class="tab__contentIn">
                                        <p><a href="mailto:">moinsen2@blindtextgenerator.com</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab mb_32">
                                <input type="checkbox" name="accordion-1" id="cb5">
                                <label for="cb5" class="tab__label txt18 fwBold">telephone</label>
                                <div class="tab__content">
                                    <div class="tab__contentIn">
                                        <p>(469) 555-0146</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contactsRight">
                        <div class="signupBox">
                            <h2 class="h3 textCenter mb_20">Message</h2>
                            <div class="lsForm mt_32">
                                <div class="formInpt mb_20">
                                    <input type="text" placeholder="Name">
                                </div>
                                <div class="formInpt shPW mb_20">
                                    <input type="email" placeholder="Email">
                                </div>
                                <div class="formInpt shPW mb_20">
                                    <textarea placeholder="Message"></textarea>
                                </div>
                                <input type="submit" name="Message" value="Send" class="btnLogin">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
