<!-- player -->
<div id="jp_container_1" class="player" role="application" aria-label="media player">

  <!-- footer -->
<div class="footer">
  <div class="row">

    <div class="col-xs-12 col-sm-6">
      <div class="footer__logo">
        <a href="index.html"><img src="src/assets/img/logo--white.png" alt=""></a>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <ul class="footer__social">
        <li>
          <a href="#">
            <i class="fa fa-soundcloud"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-spotify"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-facebook-official"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- end footer -->


</div>
<!-- end player -->
