<div class="container-fluid" *ngIf="loader">
  <div class="row">
    <div class="col d-flex justify-content-center align-items-center" style="min-height: 100vh;">
      <!-- Conteúdo da sua div centralizada -->
      <div>
        <!--Loader Div Starts-->
        <div class="spinner-grow text-primary col-md centered" style="width: 3rem; height: 3rem;" role="status" *ngIf="loader">
          <span class="visually-hidden">Loading...</span>
        </div>
        <!--Loader Div Ends-->
      </div>
    </div>
  </div>
</div>
<!-- content -->
<main class=" clearfix">
  <div class="content">

    <section class="section">
      <div class="row">
        <div class="col-xs-12">

          <form action="#" class="form form--sign" [formGroup]="loginForm" (ngSubmit)="verificarValor()">
            <h6 class="form__title">Login</h6>

            <div class="form__group">
              <label for="name" class="form__label">Email ou Telefone</label>
              <input
                id="name"
                name="name"
                type="text"
                class="form__input"
                formControlName="name"
              >
            </div>

            <div class="form__group">
              <label for="password" class="form__label">Senha</label>
              <input
                id="password"
                name="password"
                type="password"
                class="form__input"
                formControlName="password"
                [class.is-invalid]="passwordValidate"
              >
            </div>

            <div class="form__group">
              <input id="remember" class="form__input-checkbox" name="remember" type="checkbox">
              <label for="remember" class="form__label-checkbox">Lembra-me</label>
            </div>

            <button type="submit" class="default-btn form__btn">Entrar</button>
            <!-- <a routerLink="/dashboard"><button type="button" class="default-btn form__btn">Entrar</button></a> -->

            <div class="form__forgot">
              <a routerLink="/register">Regista-se</a><br>
              <a href="forgot.html">Esqueceu a Senha?</a>
            </div>
          </form>

        </div>
      </div>
    </section>

  </div>
</main>
<!-- end content -->
