<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Novo Concurso</h4>
      </div>
      <div class="modal-body">
        <form class="" autocomplete="off" [formGroup]="concursoForm" (ngSubmit)="save()">
          <div class="form-group">
            <label>Nome</label>
            <input
              type="text"
              class="form-control mb-2"
              id="inputNome"
              placeholder="Nome"
              formControlName="nome"
            >
          </div>
          <div class="form-group">
            <label>Descrição</label>
            <textarea class="form-control" formControlName="descricao" rows="3" placeholder="Descrição ..."></textarea>
          </div>
          <div class="form-group">
            <label>Prêmio</label>
            <input
              type="text"
              class="form-control mb-2"
              id="inputPremio"
              placeholder="Valor do Premio"
              formControlName="premio"
            >
          </div>
          <div class="form-group">
            <label>Nº de Vencedores</label>
            <input
              type="text"
              class="form-control mb-2"
              id="inputNVencedor"
              placeholder="Nº de Vencedores"
              formControlName="n_vencedor"
            >
          </div>
          <div class="form-group">
            <label>Data Inicio</label>
            <div class="input-group date">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <input type="date" formControlName="data_inicio" class="form-control pull-right" >
            </div>
            <!-- /.input group -->
          </div>
          <div class="form-group">
            <label>Data Fim</label>
            <div class="input-group date">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <input type="date"  formControlName="data_fim" class="form-control pull-right" id="datepicker">
            </div>
            <!-- /.input group -->
          </div>
          <div class="form-group">
            <label for="exampleInputFile">Foto</label>
            <input type="file" #inputFile (change)="onChangeFoto($event)">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-info" >Salvar</button>
            <button type="button" #closebutton class="btn btn-default" data-dismiss="modal">Sair</button>
          </div>
        </form>
      </div>

    </div>

  </div>
</div>
