<!-- content -->
<main class="clearfix">
  <div class="content">
    <div class="">
      <h2><span class="lnr lnr-chevron-left" (click)="goBack()"></span></h2>
    </div>
    <section class="section">
      <div class="row">
        <div class="col-xs-12">

          <form class="form form--sign" [formGroup]="perfilForm" (ngSubmit)="update()">
            <h6 class="form__title">Perfil</h6>
          
            <div class="form__group">
              <label for="name" class="form__label">Nome</label>
              <input id="name" name="nome" type="text" [(ngModel)]="clientObject.nome" class="form__input"
                     formControlName="nome" [ngClass]="{'is-invalid': usernameValidate}">
              <div *ngIf="usernameValidate" class="invalid-feedback">
                Username is required and must be at least 3 characters long.
              </div>
            </div>
          
            <div class="form__group">
              <label for="telefone" class="form__label">Telefone</label>
              <input id="telefone" name="telefone" type="number" [(ngModel)]="clientObject.telefone" class="form__input"
                     formControlName="telefone" [ngClass]="{'is-invalid': telValidate}">
              <div *ngIf="telValidate" class="invalid-feedback">
                Telefone is required and must contain only numbers.
              </div>
            </div>
          
            <div class="form__group">
              <label for="sexo" class="form__label">Sexo</label>
              <select id="sexo" [(ngModel)]="clientObject.sexo" name="sexo" class="form__input"
                      formControlName="sexo" [ngClass]="{'is-invalid': sexoValidate}" style="width: 100%;">
                <option value="" disabled selected>Seleccione...</option>
                <option value="Feminino">Feminino</option>
                <option value="Masculino">Masculino</option>
              </select>
              <div *ngIf="sexoValidate" class="invalid-feedback">
                Sexo is required.
              </div>
            </div>
          
            <ng-container *ngIf="selectedOption == 2">
              <div class="form__group">
                <label for="password" class="form__label">Senha</label>
                <input id="password" name="password" type="password" class="form__input" formControlName="password"
                       [class.is-invalid]="passwordValidate">
              </div>
          
              <div class="form__group">
                <label for="password" class="form__label">Senha</label>
                <input id="password" name="password" type="password" class="form__input" formControlName="password"
                       [class.is-invalid]="passwordValidate">
              </div>
          
              <div class="form__group">
                <label for="conf_password" class="form__label">Confirmar Senha</label>
                <input id="conf_password" name="conf_password" type="password" class="form__input"
                       formControlName="conf_password">
              </div>
            </ng-container>
          
            <button type="submit" class="default-btn form__btn">Salvar</button>
          </form>
        </div>
      </div>
    </section>

  </div>
</main>
<!-- end content -->