<section class="sec pt_80 pb_80 artistsSec">
    <div class="container">
        <div class="ssIn">
            <div class="dFlex mb_40 ssHD">
                <h1 class="dFlex h4">
                    <a href="#" class="back">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 22L6 12L16 2L17.775 3.775L9.55 12L17.775 20.225L16 22Z" fill="" />
                        </svg>
                    </a>
                    Latest Winner
                </h1>
                <div class="customSelect">
                    <select class="selectMenu">
                        <option value="">All Winners</option>
                        <!-- Loop through concursoLista array and create options -->
                        <option *ngFor="let c of concursoLista" [value]="c.id">{{ c.nome }}</option>
                    </select>
                </div>
            </div>
            <div class="artistsList">
                <ul class="dFlex list_4">
                    <li *ngFor="let v of latestArtistVencedorLista;">
                        <div class="ssBox">
                            <div class="ssbImg">
                                <img [src]="getImageUrl(v.foto)" alt="MM">
                                <div class="fwSemiBold colorBlack wnrTag">{{v.posicao}}Price</div>
                            </div>
                            <div class="ssbTxt">
                                <div class="mt_8 ssbNm">{{v.nome}}</div>
                                <div class="mt_4 txt18 fwSemiBold ssbCat">{{v.contest_name}}</div>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- <div class="mt_56 textCenter">
                    <a href="#" class="btn">View All</a>
                </div> -->
            </div>
        </div>
    </div>
</section>
<section class="sec pt_80 pb_80 artistsSec">
    <div class="container">
        <div class="ssIn">
            <div class="dFlex mb_40 ssHD">
                <h1 class="dFlex h4">
                    <a class="back">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 22L6 12L16 2L17.775 3.775L9.55 12L17.775 20.225L16 22Z" fill="" />
                        </svg>
                    </a>
                    Latest Winner Client
                </h1>
               
            </div>
            <div class="artistsList">
                <ul class="dFlex list_4">
                    <li *ngFor="let c of latestClientVencedorLista;">
                        <div class="ssBox">
                            <div class="ssbImg">
                                <img [src]="getImageUrl(c.foto)" alt="MM">
                                <div class="fwSemiBold colorBlack wnrTag">{{c.posicao}}Price</div>
                            </div>
                            <div class="ssbTxt">
                                <div class="mt_8 ssbNm">{{c.nome}}</div>
                                <div class="mt_4 txt18 fwSemiBold ssbCat">Angola Dance Winner</div>
                            </div>
                        </div>
                    </li> 
                </ul>
                
                <div class="mt_56 textCenter">
                    <a href="#" class="btn">View All</a>
                </div>
            </div>
        </div>
    </div>
</section>