<section class="sec pt_80 pb_80 artistsSec">
    <div class="container">
        <div class="ssIn">
            <div class="dFlex mb_40 ssHD">
                <h1 class="dFlex h4">
                    <a href="#" class="back">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 22L6 12L16 2L17.775 3.775L9.55 12L17.775 20.225L16 22Z" fill=""/>
                        </svg>
                    </a>
                    Latest Winner
                </h1>
                <div class="customSelect">
                    <select class="selectMenu">
                        <option value="">All Winners</option>
                        <option value="">Winner 1</option>
                        <option value="">Winner 2</option>
                        <option value="">Winner 3</option>
                    </select>
                </div>
            </div>
            <div class="artistsList">
                <ul class="dFlex list_4">
                    <li>
                        <div class="ssBox">
                            <div class="ssbImg">
                                <img src="assets/images/winnerImg1.jpg" alt="MM">
                                <div class="fwSemiBold colorBlack wnrTag">2nd Place</div>
                            </div>
                            <div class="ssbTxt">
                                <div class="mt_8 ssbNm">Cameron Williamson</div>
                                <div class="mt_4 txt18 fwSemiBold ssbCat">Angola Dance Winner</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ssBox">
                            <div class="ssbImg">
                                <img src="assets/images/winnerImg2.jpg" alt="MM">
                                <div class="fwSemiBold colorBlack wnrTag">1st Place</div>
                            </div>
                            <div class="ssbTxt">
                                <div class="mt_8 ssbNm">Jacob Jones</div>
                                <div class="mt_4 txt18 fwSemiBold ssbCat">Angola Dance Winner</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ssBox">
                            <div class="ssbImg">
                                <img src="assets/images/winnerImg3.jpg" alt="MM">
                                <div class="fwSemiBold colorBlack wnrTag">1st Place</div>
                            </div>
                            <div class="ssbTxt">
                                <div class="mt_8 ssbNm">Jannie Cooper</div>
                                <div class="mt_4 txt18 fwSemiBold ssbCat">Angola Dance Winner</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ssBox">
                            <div class="ssbImg">
                                <img src="assets/images/winnerImg4.jpg" alt="MM">
                                <div class="fwSemiBold colorBlack wnrTag">3rd Place</div>
                            </div>
                            <div class="ssbTxt">
                                <div class="mt_8 ssbNm">Robert Fox</div>
                                <div class="mt_4 txt18 fwSemiBold ssbCat">Angola Dance Winner</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ssBox">
                            <div class="ssbImg">
                                <img src="assets/images/winnerImg5.jpg" alt="MM">
                                <div class="fwSemiBold colorBlack wnrTag">1st Place</div>
                            </div>
                            <div class="ssbTxt">
                                <div class="mt_8 ssbNm">Jacob Jones</div>
                                <div class="mt_4 txt18 fwSemiBold ssbCat">Angola Dance Winner</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ssBox">
                            <div class="ssbImg">
                                <img src="assets/images/winnerImg6.jpg" alt="MM">
                                <div class="fwSemiBold colorBlack wnrTag">2nd Place</div>
                            </div>
                            <div class="ssbTxt">
                                <div class="mt_8 ssbNm">Cameron Williamson</div>
                                <div class="mt_4 txt18 fwSemiBold ssbCat">Angola Dance Winner</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ssBox">
                            <div class="ssbImg">
                                <img src="assets/images/winnerImg7.jpg" alt="MM">
                                <div class="fwSemiBold colorBlack wnrTag">3rd Place</div>
                            </div>
                            <div class="ssbTxt">
                                <div class="mt_8 ssbNm">Robert Fox</div>
                                <div class="mt_4 txt18 fwSemiBold ssbCat">Angola Dance Winner</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ssBox">
                            <div class="ssbImg">
                                <img src="assets/images/winnerImg8.jpg" alt="MM">
                                <div class="fwSemiBold colorBlack wnrTag">1st Place</div>
                            </div>
                            <div class="ssbTxt">
                                <div class="mt_8 ssbNm">Kristin Watson</div>
                                <div class="mt_4 txt18 fwSemiBold ssbCat">Angola Dance Winner</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ssBox">
                            <div class="ssbImg">
                                <img src="assets/images/winnerImg9.jpg" alt="MM">
                                <div class="fwSemiBold colorBlack wnrTag">1st Place</div>
                            </div>
                            <div class="ssbTxt">
                                <div class="mt_8 ssbNm">Jacob Jones</div>
                                <div class="mt_4 txt18 fwSemiBold ssbCat">Angola Dance Winner</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ssBox">
                            <div class="ssbImg">
                                <img src="assets/images/winnerImg10.jpg" alt="MM">
                                <div class="fwSemiBold colorBlack wnrTag">2nd Place</div>
                            </div>
                            <div class="ssbTxt">
                                <div class="mt_8 ssbNm">Cameron Williamson</div>
                                <div class="mt_4 txt18 fwSemiBold ssbCat">Angola Dance Winner</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ssBox">
                            <div class="ssbImg">
                                <img src="assets/images/winnerImg11.jpg" alt="MM">
                                <div class="fwSemiBold colorBlack wnrTag">3rd Place</div>
                            </div>
                            <div class="ssbTxt">
                                <div class="mt_8 ssbNm">Robert Fox</div>
                                <div class="mt_4 txt18 fwSemiBold ssbCat">Angola Dance Winner</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ssBox">
                            <div class="ssbImg">
                                <img src="assets/images/winnerImg12.jpg" alt="MM">
                                <div class="fwSemiBold colorBlack wnrTag">1st Place</div>
                            </div>
                            <div class="ssbTxt">
                                <div class="mt_8 ssbNm">Kristin Watson</div>
                                <div class="mt_4 txt18 fwSemiBold ssbCat">Angola Dance Winner</div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="mt_56 textCenter">
                    <a href="#" class="btn">View All</a>
                </div>
            </div>
        </div>
    </div>
</section>
