<section class="section section--first">
  <div class="row">
    <div class="">
      <h2><span class="lnr lnr-chevron-left" (click)="goBack()"></span></h2>
    </div>
    <!-- artist -->
    <div class="col-xs-12 col-sm-4 col-md-3" *ngIf="artista">
      <!-- release cover -->
      <div class="artist__cover">
        <img [src]="getImageUrl(artista.foto)" alt="">
      </div>
      <!-- end release cover -->

      <!-- release social -->
      <ul class="artist__social clearfix">
        <li>
          <a href="#">
            <i class="fa fa-soundcloud"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-spotify"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-facebook-official"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>
      <!-- end release social -->
    </div>

    <div class="col-xs-12 col-sm-8 col-md-9" *ngIf="artista" >
      <!-- release content -->
      <div class="artist__content">
        <h1 class="artist__title">{{artista.nome}}</h1>

        <p class="artist__description">All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>

        <ul class="artist__list clearfix">
          <li>Idade: 23</li>
          <!-- <li>Location: UK</li> -->
          <li>Site: <a href="#">http://website.com</a></li>
        </ul>

        <ul class="artist__tags clearfix">
          <li>Genero Musical:</li>
          <li>
            <a href="#">Techno</a>
          </li>
          <li>
            <a href="#">House</a>
          </li>
          <li>
            <a href="#">Dance</a>
          </li>
        </ul>
      </div>
      <!-- end release content -->
    </div>
    <!-- end artist -->

    <!-- tabs
    <div class="col-xs-12">
      <div class="tabs">

        < !-- tabs nav - ->
        <ul class="tabs__nav clearfix" role="tablist">
          <li role="presentation" class="active">
            <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Musicas</a>
          </li>
          <li role="presentation">
            <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Albuns</a>
          </li>
        </ul>
        <!- - end tabs nav - ->

        <div class="tab-content">
          <!- - tab1 - ->
          <div role="tabpanel" class="tab-pane fade in active" id="tab1">
            <div class="row row--grid">
              <!- - track - ->
              <div class="col-xs-6 col-sm-3" *ngFor="let m of musicas; ">
                <div class="track">
                  <div class="track__cover">
                    <img src="assets/img/covers/{{m.foto}}" alt="">
                  </div>

                  <button class="track__play-btn">
                    <i class="glyphicon glyphicon-play"></i>
                    <svg class="svg-circle">
                      <circle cx="30" cy="30" r="28"></circle>
                    </svg>
                  </button>

                  <a href="#" class="track__link">
                    <span class="title">{{m.titulo}}</span>
                    <span class="autor">{{artista.nome}}</span>
                  </a>
                </div>
              </div>
              <!- - end track - ->
            </div>
          </div>
          <!- - end tab1 - ->

          <!- - tab2 - ->
          <div role="tabpanel" class="tab-pane fade" id="tab2">
            <div class="row row--grid">
              <!- - release - ->
              <div class="col-xs-6 col-sm-3" *ngFor="let a of albums; ">
                <article class="release-post">
                  <figure class="release-post__cover"><a (click)="goAlbum(a)"><img src="assets/img/covers/cover.jpg" alt=""></a></figure>

                  <header class="release-post__header">
                    <h2 class="release-post__title"><a (click)="goAlbum(a)">{{a.nome}}</a></h2>
                    <a class="release-post__autor">{{artista.nome}}</a>
                  </header>
                </article>
              </div>
              <!- - end release - ->

            </div>
          </div>
          <!- - end tab2 - ->
        </div>

      </div>
    </div>
    <!- - end tabs -->

  </div>
</section>
