<!-- news -->
<section class="section section--first">
    <div class="row">
      <!-- section title -->
      <div class="col-xs-12">
        <div class="section__title section__title--single clearfix">
          <h2><span class="lnr lnr-chevron-left" (click)="goBack()"></span></h2>
          <h2>política</h2>
        </div>
      </div>
    
  
      <!-- contacts map -->
      <div class="col-xs-12">
        <div id="contacts__map" class="contacts__map"></div>
      </div>
      <!-- end contacts map -->
    </div>
  </section>
  <!-- end news -->
  