<section class="sec homeBnrSec">
    <div class="homeBnr">
        <img src="assets/images/homeBannerImg.jpg" alt="MM">
    </div>
</section>

<section class="sec mt_56 ssSec">
    <div class="container">
        <div class="ssIn">
            <div class="dFlex mb_24 ssHD">
                <h2 class="h6">Latest Winner</h2>
                <a href="#" class="txt18 dFlex seeAll">
                    <span>See All</span>
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.6 12.5006L9 7.90062L9.70775 7.19287L15.0155 12.5006L9.70775 17.8084L9 17.1006L13.6 12.5006Z" fill=""/>
                    </svg>
                </a>
            </div>
            <div class="ssSliderMain">
                <div class="swiper ssSlider1">
                    <ul class="swiper-wrapper">
                        <li class="swiper-slide">
                            <div class="ssBox">
                                <div class="ssbImg">
                                    <img src="assets/images/lwImg1.jpg" alt="MM">
                                </div>
                                <div class="ssbTxt">
                                    <div class="mt_8 ssbNm">Jacob Jones</div>
                                    <div class="mt_4 txt18 fwSemiBold ssbCat">Angola Dance Winner</div>
                                    <div class="mt_4 fwLight ssbDt">21/07/2023</div>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="ssBox">
                                <div class="ssbImg">
                                    <img src="assets/images/lwImg2.jpg" alt="MM">
                                </div>
                                <div class="ssbTxt">
                                    <div class="mt_8 ssbNm">Cameron Williamson</div>
                                    <div class="mt_4 txt18 fwSemiBold ssbCat">Angola Dance Winner</div>
                                    <div class="mt_4 fwLight ssbDt">07/08/2023</div>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="ssBox">
                                <div class="ssbImg">
                                    <img src="assets/images/lwImg3.jpg" alt="MM">
                                </div>
                                <div class="ssbTxt">
                                    <div class="mt_8 ssbNm">Robert Fox</div>
                                    <div class="mt_4 txt18 fwSemiBold ssbCat">Angola Dance Winner</div>
                                    <div class="mt_4 fwLight ssbDt">13/09/2023</div>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="ssBox">
                                <div class="ssbImg">
                                    <img src="assets/images/lwImg4.jpg" alt="MM">
                                </div>
                                <div class="ssbTxt">
                                    <div class="mt_8 ssbNm">Kristin Watson</div>
                                    <div class="mt_4 txt18 fwSemiBold ssbCat">Angola Dance Winner</div>
                                    <div class="mt_4 fwLight ssbDt">05/06/2023</div>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="ssBox">
                                <div class="ssbImg">
                                    <img src="assets/images/lwImg1.jpg" alt="MM">
                                </div>
                                <div class="ssbTxt">
                                    <div class="mt_8 ssbNm">Jacob Jones</div>
                                    <div class="mt_4 txt18 fwSemiBold ssbCat">Angola Dance Winner</div>
                                    <div class="mt_4 fwLight ssbDt">21/07/2023</div>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="ssBox">
                                <div class="ssbImg">
                                    <img src="assets/images/lwImg2.jpg" alt="MM">
                                </div>
                                <div class="ssbTxt">
                                    <div class="mt_8 ssbNm">Cameron Williamson</div>
                                    <div class="mt_4 txt18 fwSemiBold ssbCat">Angola Dance Winner</div>
                                    <div class="mt_4 fwLight ssbDt">07/08/2023</div>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="ssBox">
                                <div class="ssbImg">
                                    <img src="assets/images/lwImg3.jpg" alt="MM">
                                </div>
                                <div class="ssbTxt">
                                    <div class="mt_8 ssbNm">Robert Fox</div>
                                    <div class="mt_4 txt18 fwSemiBold ssbCat">Angola Dance Winner</div>
                                    <div class="mt_4 fwLight ssbDt">13/09/2023</div>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="ssBox">
                                <div class="ssbImg">
                                    <img src="assets/images/lwImg4.jpg" alt="MM">
                                </div>
                                <div class="ssbTxt">
                                    <div class="mt_8 ssbNm">Kristin Watson</div>
                                    <div class="mt_4 txt18 fwSemiBold ssbCat">Angola Dance Winner</div>
                                    <div class="mt_4 fwLight ssbDt">05/06/2023</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="swiper-nav">
                    <div class="swiper-button-next swiper-button-next1"(click)="nextSlider(swiper1)" ></div>
                    <div class="swiper-button-prev swiper-button-prev1" (click)="prevSlider(swiper1)"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sec mt_56 ssSec">
    <div class="container">
        <div class="ssIn">
            <div class="dFlex mb_24 ssHD">
                <h1 class="h6">Contests to Decorrer</h1>
                <a href="#" class="txt18 dFlex seeAll">
                    <span>See All</span>
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13.6 12.5006L9 7.90062L9.70775 7.19287L15.0155 12.5006L9.70775 17.8084L9 17.1006L13.6 12.5006Z" fill=""/>
                    </svg>
                </a>
            </div>
            <div class="ssSliderMain type2">
                <div class="swiper ssSlider2">
                    <ul class="swiper-wrapper">
                        <li class="swiper-slide">
                            <div class="ssBox">
                                <div class="ssbImg">
                                    <img src="assets/images/ctdImg1.jpg" alt="MM">
                                </div>
                                <div class="ssbTxt">
                                    <div class="mt_8 txt18 fwSemiBold ssbCat">dance Event</div>
                                    <div class="mt_4 ssbDt">start Date - <span>13/09/2023</span></div>
                                    <div class="mt_4 ssbDt">Final Date - <span>25/09/2023</span></div>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="ssBox">
                                <div class="ssbImg">
                                    <img src="assets/images/ctdImg2.jpg" alt="MM">
                                </div>
                                <div class="ssbTxt">
                                    <div class="mt_8 txt18 fwSemiBold ssbCat">Music Event</div>
                                    <div class="mt_4 ssbDt">start Date - <span>13/09/2023</span></div>
                                    <div class="mt_4 ssbDt">Final Date - <span>25/09/2023</span></div>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="ssBox">
                                <div class="ssbImg">
                                    <img src="assets/images/ctdImg3.jpg" alt="MM">
                                </div>
                                <div class="ssbTxt">
                                    <div class="mt_8 txt18 fwSemiBold ssbCat">dance Event</div>
                                    <div class="mt_4 ssbDt">start Date - <span>13/09/2023</span></div>
                                    <div class="mt_4 ssbDt">Final Date - <span>25/09/2023</span></div>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="ssBox">
                                <div class="ssbImg">
                                    <img src="assets/images/ctdImg1.jpg" alt="MM">
                                </div>
                                <div class="ssbTxt">
                                    <div class="mt_8 txt18 fwSemiBold ssbCat">dance Event</div>
                                    <div class="mt_4 ssbDt">start Date - <span>13/09/2023</span></div>
                                    <div class="mt_4 ssbDt">Final Date - <span>25/09/2023</span></div>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="ssBox">
                                <div class="ssbImg">
                                    <img src="assets/images/ctdImg2.jpg" alt="MM">
                                </div>
                                <div class="ssbTxt">
                                    <div class="mt_8 txt18 fwSemiBold ssbCat">Music Event</div>
                                    <div class="mt_4 ssbDt">start Date - <span>13/09/2023</span></div>
                                    <div class="mt_4 ssbDt">Final Date - <span>25/09/2023</span></div>
                                </div>
                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="ssBox">
                                <div class="ssbImg">
                                    <img src="assets/images/ctdImg3.jpg" alt="MM">
                                </div>
                                <div class="ssbTxt">
                                    <div class="mt_8 txt18 fwSemiBold ssbCat">dance Event</div>
                                    <div class="mt_4 ssbDt">start Date - <span>13/09/2023</span></div>
                                    <div class="mt_4 ssbDt">Final Date - <span>25/09/2023</span></div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="swiper-nav">
                    <div class="swiper-button-next swiper-button-next2" (click)="nextSlider(swiper2)"></div>
                    <div class="swiper-button-prev swiper-button-prev2" (click)="prevSlider(swiper2)"></div>
                </div>
            </div>
        </div>
    </div>
</section>

