<!-- releases -->
<section class="section section--first">
  <div class="row">
    <!-- section title -->
    <div class="col-xs-12">
      <div class="section__title section__title--single clearfix">
        <div class="row">
          <div class="col-xs-12 col-sm-5">
            <h2><span class="lnr lnr-chevron-left" (click)="goBack()"></span></h2>
            <h2> Artistas</h2>
          </div>

          <div class="col-xs-12 col-sm-7">
            <!-- section filter -->
            <div id="section__filter-2" class="section__filter">
              <div class="section__filter-btn" data-toggle="dropdown" aria-expanded="false" role="button">
                <input type="button" value="Todos Artistas">
                <span class="lnr lnr-chevron-down"></span>
              </div>

              <ul class="section__filter-menu scrollbar-dropdown">
                <li><a href="#">Todos Artistas</a></li>
                <li><a href="#">Legacy Artists</a></li>
                <li><a href="#">Active Artists</a></li>
              </ul>
            </div>
            <!-- end section filter -->
          </div>
        </div>
      </div>
    </div>
    <!-- end section title -->
  </div>

  <div class="row row--grid-big">
    <!-- artist -->
    <div class="col-xs-12 col-sm-4 col-lg-3" *ngFor="let a of artistaLista | paginate: { itemsPerPage: pagination.pagination.perPage, currentPage: pagination.pagination.page, totalItems: pagination.pagination.total}; let i=index">
      <div class="artist-post">
        <a class="img_dimensao artist-post__cover" (click)="goArtist(a)">
          <img [src]="getImageUrl(a.foto)" alt="">
          <div>
            <span>{{a.nome}}</span>
            <!-- <ul>
              <li>Techno</li>
              <li>House</li>
              <li>Dance</li>
            </ul> -->
          </div>
        </a>
      </div>
    </div>
    <!-- end artist -->

  </div>

  <div class="row">
    <div class="col-xs-12">
      <button type="button" (click)="artistaPaginacao1(2)"  class="default-btn default-btn--red default-btn--center">Ver Mais</button>
    </div>
  </div>
  <br>
</section>
<!-- end releases -->
